<div class="row">
    <div class="five wide column">
        <strong>Type</strong>
    </div>
    <div class="three wide center aligned column">
        <strong>Quantity</strong>
    </div>
    <div class="three wide center aligned column">
        <strong>Value</strong>
    </div>
    <div class="three wide center aligned column">
        <strong>Drop Total</strong>
    </div>
</div>
{% for drop in drops %}
    <div class="row">
        <div class="five wide column">
            <img class="option icon" src="{{ drop.item.icon.url }}"> {{ drop.item.name }}
        </div>
        <div class="three wide center aligned column">
            {{ drop.quantity }}
        </div>
        <div class="three wide center aligned column">
            {{ drop.item_current_value }}
        </div>
        <div class="three wide center aligned column">
            {{ drop.total }}
        </div>
    </div>
{% empty %}
    <div class="row">
        <div class="column">
            No loot drops have been added for this fleet.
        </div>
    </div>
{% endfor %}
<div class="row">
    <div class="eleven wide right aligned column">
        <strong>5% Corporate Tax:</strong>
    </div>
    <div class="three wide center aligned column">
        {{ corp_tax|stringformat:'.2f' }} ISK
    </div>
</div>
<div class="row">
    <div class="eleven wide right aligned column">
        <strong>Total:</strong>
    </div>
    <div class="three wide center aligned column">
        {{ fleet_total|stringformat:'.2f' }} ISK
    </div>
</div>
<div class="row">
    <div class="fourteen wide right aligned column">
        <button class="ui positive finalize fleet button">Finalize Fleet</button>
    </div>
</div>