{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="ui equal width grid">
        <div class="centered row">
            <form action="/user/login/" method="post">
                {% csrf_token %}
                <div class="ui equal width padded centered grid">
                    <div class="ui inline icon input row">
                        <label class="three wide right aligned middle aligned column">Username</label>
                        <input
                                {% if failed > 5 %}
                                    disabled
                                {% endif %}
                                    class="five wide column"
                                    type="text"
                                    placeholder="Enter your username"
                                    name="username"
                                >
                    </div>
                    <div class="ui inline icon input row">
                        <label class="three wide right aligned middle aligned column">Password</label>
                        <input
                                {% if failed > 5 %}
                                    disabled
                                {% endif %}
                                    class="five wide column"
                                    type="password"
                                    placeholder="Enter your password"
                                    name="password"
                                >
                    </div>
                    {% if failed > 5 %}
                        <div class="centered row">
                            <div class="ui warning message six wide column">
                                <div class="content">
                                    You will not be able to log in due to having too many failed attempts. Please
                                    wait a while before trying again.
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if failed < 5 and failed > 0 %}
                        <div class="centered row">
                            <div class="ui error message six wide column">
                                <div class="content">
                                    The username and password provided do not match. Please try again.
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="centered row">
                        <button class="ui positive button three wide center aligned column" type="submit">Log In
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="centered row">
            <div class="eight wide column">
                <div class="ui horizontal divider">
                    or
                </div>
            </div>
        </div>

        {# Sign up form #}
        <div class="centered row signup-form">
            <form action="/user/signup/" method="post">
                {% csrf_token %}
                <div class="ui equal width padded centered grid">

                    <div class="row">
                        <label class="three wide right aligned middle aligned column">
                            Username
                        </label>

                        <div class="ui inline icon input">
                            <input class="five wide column choose-username" type="text" placeholder="Choose a username"
                                   name="username">
                            <i class="ui icon"></i>
                        </div>
                    </div>

                    <div class="row">
                        <label class="three wide right aligned middle aligned column">Password</label>

                        <div class="ui inline icon input">
                            <input class="five wide column password" type="password" placeholder="Choose a password"
                                   name="password">
                        </div>
                    </div>

                    <div class="row">
                        <label class="three wide right aligned middle aligned column">API Key</label>

                        <div class="ui inline icon input">
                            <input class="five wide column api-field key" type="text" placeholder="Enter API key"
                                   name="key">
                            <i class="ui small circular help link icon"></i>

                            <div class="ui flowing popup">
                                <div class="header">API Information</div>
                                <div class="content">
                                    This application requires no specific access.
                                </div>
                                <div class="content">
                                    If you do not have an API key and verification code available you can create one
                                    with the correct permissions
                                    <a href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=0">
                                        here
                                    </a>. No expiry date is required, but should your key expire you will be unable to
                                    access the application.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="three wide right aligned middle aligned column">API Verification Code</label>

                        <div class="ui inline icon input">
                            <input class="five wide column api-field vcode" type="text"
                                   placeholder="Enter API key verification code" name="vcode">
                            <i class="ui small circular help link icon"></i>

                            <div class="ui flowing popup">
                                <div class="header">API Information</div>
                                <div class="content">
                                    This application requires no specific access.
                                </div>
                                <div class="content">
                                    If you do not have an API key and verification code available you can create one
                                    with the correct permissions
                                    <a href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=0">
                                        here
                                    </a>. No expiry date is required, but should your key expire you will be unable to
                                    access the application.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="centered row">
                        <div class="eight wide column">
                            <div class="ui hidden icon error message api-parse-fail">
                                <i class="ui warning icon"></i>
                                <div class="content">
                                    <div class="header">
                                        Something has gone wrong!
                                    </div>
                                    <p>Looks like the API result was not parsed correctly. You have two options:</p>
                                    <ol class="list">
                                        <li>Make a small change to an API field and change it back to force trying again.</li>
                                        <li>Refresh this page and try again.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="centered row">
                        <button class="ui primary disabled button center aligned centered two wide column sign-up"
                                type="submit">
                            Sign Up
                        </button>
                    </div>
                    <div class="ui flowing popup">
                        <div class="content">
                            All fields are required.
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div class="ui flowing popup username-exists">
        <div class="content">
            Username already exists.
        </div>
    </div>

    <div class="ui flowing popup api-invalid">
        <div class="content">
            API values are not valid.
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'main/js/login.js' %}"></script>
{% endblock %}
